body {
    font-family: "Heebo", sans-serif;
    margin: 0;
    color: #21243d;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 15px auto 0 auto;

}

#nav-links {
    display: flex;
    gap: 65px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 75px auto;
}

#header-content {
    width: 630px
}

h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

a#button-cv {
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
}

#subtitle {
    font-size: 16px;
    margin: 35px 0;

}

#blog {
    background-color: #edf7fa;
    padding-bottom: 35px;
}


#blog-content {
    width: 1200px;
    margin: auto;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    padding-top: 20px;
}

#articles {
    display: flex;
    justify-content: space-between;
}


.article-blog {
    background-color: white;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    box-sizing: border-box;

}

.article-title {
    font-size: 26px;
}

.date-categorie {
    font-size: 18px;
    display: flex;
    gap: 25px;

}

.article-description {
    font-size: 16px;
}

#projets {
    width: 1200px;
    margin: auto;
}

#projet {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.projet-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 15px 0;

}

.date-type {
    display: flex;
    gap: 25px;
}

.projet-date {
    background-color: #142850;
    border-radius: 16px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    width: 62px;
    height: 25px;
    text-align: center;
}

.projet-type {
    color: #8695a4;
    font-size: 20px;
}

.projet-description {
    font-size: 16px;
}