body {
    font-family: "Heebo", sans-serif;
    margin: 0;
    color: #21243d;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 15px auto 0 auto;

}

#nav-links {
    display: flex;
    gap: 65px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

#menu-button {
    display: none;

}


header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 75px auto;
}

#header-content {
    width: 630px
}

h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 0;
}

a#button-cv {
    background-color: #FF6464;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 15px;
}

#subtitle {
    font-size: 16px;
    margin: 35px 0;

}

#blog {
    background-color: #edf7fa;
    padding-bottom: 35px;
}


#blog-content {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: auto;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    padding-top: 20px;
}

#articles {
    display: flex;
    justify-content: space-between;
}


.article-blog {
    background-color: white;
    border-radius: 4px;
    width: 543px;
    padding: 10px 20px;
    box-sizing: border-box;
    max-width: 48%;

}

.article-title {
    font-size: 26px;
}

.date-categorie {
    font-size: 18px;
    display: flex;
    gap: 25px;

}

.article-description {
    font-size: 16px;
}

#projets {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: auto;
    flex-direction: column;

}

.projet {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.projet-title {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 15px 0;

}

.date-type {
    display: flex;
    gap: 25px;
}

.projet-date {
    background-color: #142850;
    border-radius: 16px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    width: 62px;
    height: 25px;
    text-align: center;
}

.projet-type {
    color: #8695a4;
    font-size: 20px;
}

.projet-description {
    font-size: 16px;
}

#coordonnees {
    flex: 1;
}

#contact-content {
    display: flex;
    gap: 40px;
}

#contact {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: auto;
}

.contact-title {
    font-weight: 800;
    font-size: 36px;

}

#contact-intro {
    font-size: 20px;

}

#contact-email {
    font-size: 16px;
}

.socials-link {
    font-size: 16px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

}


label {
    font-size: 14px;
}

input,
select,
textarea {
    background-color: #F7F7F7;
    border: none;
    height: 46px;
}

textarea#message {
    height: 165px;
}

button {
    background-color: black;
    color: white;
    border: none;
    height: 56px;
}

footer {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

element.style {
    display: flex;
    justify-content: center;
    gap: 25px;
}

p#Copyright {
    font-size: 14px;
    color: #21243d;
}

@media (max-width:700px) {


    .nav-link {
        display: none;
    }

    #menu-button {
        display: block
    }

    header {
        flex-direction: column-reverse;
        text-align: center;
    }

    #header-content {
        width: 100%;
    }

    h2 {
        text-align: center;

    }


    #coordonnees {
        display: none;
    }

    #articles {
        flex-direction: column;
        gap: 20px;
    }

    .article-blog {
        max-width: none;
        width: 100%;
    }

    .date-categorie {
        gap: 5px;
    }

    .projet {
        flex-direction: column;
    }

    #projets {
        width: 100%;
    }

}